[user]
	name = Kudzai Tuso
	email = tusomx@gmail.com
	name = Maxwell Tuso
	email = tusomx@gmail.com
[alias]
	co = checkout
[core]
	editor = subl -w
[filter "media"]
	required = true
	clean = git media clean %f
	smudge = git media smudge %f
[branch]
	autosetuprebase = always
